body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    background-color:#14213d;
}
.container2{
    display: flex;
    background-color: #c44536;
    border: 5px solid rgb(126, 124, 124);
    border-radius: 8px;
}
.container2 img{
    height: 400px;
    padding: 30px;
}
.container{
    display: inline; 
    padding-left: 50px;
    padding-top: 30px;
}
.container a{
    color: black;
    text-decoration: none;
}
.container a:hover{
    color: rgb(141, 27, 27);
}

.navbar{
    display: inline;
    font-size: 50px;
    border-radius: 6px;
}
.topnav ul {   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#c44536;
}
.topnav li {
    float: left;
  }
  
.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.topnav li a:hover {
    background-color:#c5574a;
  }
.filmmaker{
    height: 50px;
}
.profile{
    height: 30px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c55043;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #c4584c;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
.signup{
    background-color: rgb(254, 254, 255);
     float: right;
     padding: 6px 10px;
     margin-top: 8px;
     margin-right: 16px;
     margin-left: 10px;
     color: rgb(78, 218, 199);
     font-size: 17px;
     border: none;
     cursor: pointer;
}  
h2{
    text-align: center;
    color: #14213d;
}
.toprated{
    border:1px solid white;
    margin-top: 20px;
    width: 90%;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #c44536;
    padding-left: 10px;
    border-radius: 6px;
}
img{
    height: 390px;
    padding: 20px;
}
.sidebar{
    width: 160px;
    background-color: #c44536;
    color: rgb(7, 94, 97);
    margin: 10px;
    border-radius: 8px;
    padding: 20px;
    
}
.sidebar li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color: rgb(248, 175, 163);
}
.flexer{
    display: flex;
}
.content{
    display: inline-block;
}